@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(150, 200, 85);
  --primary-dark: rgb(120, 160, 68);
  --primary-light: rgb(180, 220, 102);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

